<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" id="WebApp_ID" version="5.0">
  <display-name>Book_Market</display-name>
  <welcome-file-list>
    <welcome-file>welcome.jsp</welcome-file>
  </welcome-file-list>
  
  <security-role>
  	<role-name>manager</role-name>
  </security-role>
  
  <security-constraint>
	<web-resource-collection>
		<web-resource-name>Book_Market</web-resource-name>
		<url-pattern>/addBook.jsp</url-pattern>
		<http-method>POST</http-method>
	</web-resource-collection>
	
	<auth-constraint>
		<description>관리자 계정</description>
		<role-name>manager</role-name>
	</auth-constraint>
</security-constraint>

<login-config>
	<auth-method>FORM</auth-method>
	<form-login-config>
		<form-login-page>/login.jsp</form-login-page>
		<form-error-page>/error.jsp</form-error-page>
	</form-login-config>
</login-config>
  
</web-app>